.form{
    display: grid;
    justify-content: center;
    min-width: 1000px;
    justify-items: center;
    margin-top: 5rem;
}
.form input{
    width: 1000px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

  