
.movie-list-container {
  display: grid;
  margin: 50px 0px;
  justify-content: space-evenly;
}


 .List-of-movies{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
 }


 @media (max-width: 1250px) {
  .List-of-movies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3rem;
   }
 }